MONGODB_URI=mongodb+srv://USUARIO:SENHA@SEU-CLUSTER.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=barbearia&tls=true
MONGODB_DATABASE=barbearia

ADMIN_EMAIL=admin@barbearia.com
ADMIN_SENHA=Troque@Esta1Senha

TEMA_NOME=classico
TEMA_LAYOUT=padrao
BARBEARIA_NOME=Navalha & Cia
BARBEARIA_SLOGAN=Tradição e estilo desde 1998

COOKIE_SEGURO=false
THYMELEAF_CACHE=false
PORT=8080
