<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{${@tema.layout}}">
<head>
    <title>Início</title>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="destaque">
        <p class="sobretitulo" th:text="${@tema.slogan}">Slogan</p>
        <h1>Cabelo, barba e conversa boa.</h1>
        <p class="destaque-texto">
            Agende seu horário, acompanhe seus atendimentos e conheça nossos serviços.
        </p>
        <div class="acoes" sec:authorize="isAnonymous()">
            <a th:href="@{/cadastro}" class="botao botao-grande">Criar minha conta</a>
            <a th:href="@{/login}" class="botao botao-fantasma botao-grande">Já sou cliente</a>
        </div>
        <div class="acoes" sec:authorize="isAuthenticated()">
            <a th:href="@{/painel}" class="botao botao-grande">Ir para meu painel</a>
        </div>
    </div>

    <h2 class="titulo-secao">Serviços</h2>
    <div th:replace="~{fragments/servicos :: lista(${servicos})}"></div>
</section>
</body>
</html>
